<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Olá, me chamo Gabriel Lira, sou estudante de ciência da computação,
                na Universidade Estadual da Paraíba, e desenvolvi esse site que trabalha com um sistema de e-commerce de aparelhos tecnológicos do dia a dia.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> gabriellira820@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> (83) 8716-4734</li>
                <li><i class="fa-brands fa-whatsapp"></i> (83) 9 8716-4734</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
