<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi optio soluta molestiae eligendi est non, aperiam odit tenetur officia sint adipisci delectus, accusantium a, dolorem quod quibusdam amet ipsa maiores.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (80) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (80) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
